.home-background {
	background-image: url('/download.jpg');
	/* Update this path */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* Hide scrollbar for Webkit-based browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
	scrollbar-width: none;
}

/* Hide scrollbar for Internet Explorer & Edge */
.no-scrollbar {
	-ms-overflow-style: none;
}

/* Ensure full height for mobile panels */
@media (max-width: 1023px) {
	.mobile-panel {
		width: 100%;
		height: 100%;
	}
}